.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 320px;
  margin-top: 10px;
}
.full-width {
  width: 100%;
}
.error {
  color: black;
  background-color: #ffd740;
  padding: 10px;

  border-radius: 10px;
  margin: 10px;
}
.spacer {
  flex: 1 1 auto;
}
button {
  margin-right: 10px;
}
