<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="container full-width">
  <mat-card class="card">
    <div class="error" *ngIf="isSignUpFailed"> {{ errorMessage}} </div>
    <div class="success" *ngIf="isSuccessful"> {{ successMessage}} </div>
    <mat-card-title>Please SignUp</mat-card-title>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="example-form">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input type="text" matInput formControlName="username" placeholder="Enter User Name">

      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Enter Email">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" placeholder="Enter your password">
      </mat-form-field>
      <button type="submit" mat-flat-button color="primary">register</button> <span>Already have Account ?<a
          routerLink="/login">Login</a></span>
    </form>
  </mat-card>
</div>
