<div class="container">
  <mat-card class="mat-card mat-focus-indicator">
    <mat-card-title class="mat-card-title">What is this?</mat-card-title>
    <div class="divider"></div>
    <mat-card-content class="mat-card-content">
      MovieStore is a Web App based on Scrapped data from IMDB.
      You will have access to about hundreds of movies,thier posters, actors, languages and more.
      Check out MovieStore API which is filled with data containing Partial Web scrapped info from IMDB website.
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-card mat-focus-indicator">
    <mat-card-title class="mat-card-title">Who are you?</mat-card-title>
    <div class="divider"></div>
    <img class="profile-img" src="https://vijay18399.github.io/images/profile2.png">
    <mat-card-content class="mat-card-content">My name is Vijay Reddy, I am a full stack developer, a guy who likes to
      develop things and a binge watcher
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-card mat-focus-indicator">
    <mat-card-title class="mat-card-title">Technical stuff?</mat-card-title>
    <div class="divider"></div>
    <div class="chips">
      <img class="chip"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original-wordmark.svg" />
      <img class="chip" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original-wordmark.svg" />
      <img class="chip2"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original-wordmark.svg" />
    </div>
    <mat-card-content class="mat-card-content">
      I use Node and MongoDB to serve the API.
      All the data is formatted in json and the entire project is hosted on
      Heroku and Github Pages. </mat-card-content>
  </mat-card>
  <mat-card class="mat-card mat-focus-indicator">
    <mat-card-title class="mat-card-title">Wanna Check out the Code?</mat-card-title>
    <div class="divider"></div>
    <mat-card-actions align="end">
      <a href="https://github.com/vijay18399/movieStore" color="primary" mat-raised-button>movieStore</a>
      <a href="https://github.com/vijay18399/movieStoreApi" color="warn" mat-raised-button>movieStore API </a>
    </mat-card-actions>
  </mat-card>
</div>
